<div id="trips">
  <app-nav active="trips"></app-nav>

  <div id="content">
    <div class="header">
      <h1>Viagens</h1>
      <p>Listagem de todas suas viagens</p>
    </div>

    <div class="list">
      <div *ngFor="let trip of trips" class="list-item">
        <div class="list-left">
          <div class="list--Wrapper">
            <i class="fas fa-map-marker-alt"></i>
            <span>De: {{ trip.from }}</span>
          </div>
          <div class="list--Wrapper">
            <i class="fas fa-map-marker-alt"></i>
            <span>Para: {{ trip.to }}</span>
          </div>
          <div class="item--Wrapper">
            <div class="list--Wrapper">
              <i class="fas fa-arrow-right"></i>
              {{ getDate(trip.started_at)}}
            </div>
            <div class="list--Wrapper">
              <i class="fas fa-arrow-left"></i>
              {{ getDate(trip.finished_at)}}
            </div>
          </div>
        </div>

        <div class="list-right">
          <h3>{{ trip.payment_method }}</h3>
          <h3>R$ {{ trip.value }}</h3>
          <h3>{{ getDate(trip.payment_at) }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

