<div class="container--Out">
  <div class="container--Inner">
    <img src="../../../../assets/images/logo-lazulo-1-1024x1024.png" alt="Logomarca">

    <div class="form--Box">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="placeholder">
          <p *ngIf="message">{{ message }}</p>
        </div>
        <input formControlName="name" type="text" name="name" id="name" placeholder="NOME" />
        <input formControlName="email" type="email" name="email" id="email" placeholder="E-MAIL" />
        <input formControlName="password" type="password" name="password" id="password" placeholder="SENHA" />
        <div class="input-group">
          <input formControlName="birthdate_at" class="form-control" id="birthdate_at" placeholder="dd/mm/yyyy" type="text" ngbDatepicker #birthdate_at="ngbDatepicker"/>
          <div class="calendar-button" (click)="birthdate_at.toggle()"><i class="fas fa-calendar-alt"></i></div>
        </div>
        <input formControlName="birthdate_at" type="text" name="birthdate_at" id="birthdate_at" placeholder="DATA DE NASCIMENTO" />
        <input mask="000.000.000-00" formControlName="cpf" type="text" name="cpf" id="cpf" placeholder="CPF" />
        <input mask="AA-00.000.000" formControlName="rg" type="text" name="rg" id="rg" placeholder="RG" />
        <input prefix="+55" mask=" (00) 0000-0000" formControlName="cellphone" type="text" name="cellphone" id="cellphone" placeholder="CELULAR" />
        <input type="submit" [value]="!loading ? 'REGISTRAR' : 'REGISTRANDO...'">
      </form>
    </div>

    <div class="action--Links">
      <a (click)="goTo('/auth/login')">Voltar</a>
    </div>
  </div>
</div>
