nav {
  padding: 0 50px;
  border-top: 3px solid #0055b0;

  .navbar-brand {
    .lazuli-brand {
      width: 100%;
      max-width: 125px;
    }
  }


  .nav-link {
    color: #003870;
    text-transform: uppercase;
    font-weight: 700;
  }
}

#slides {
  height: auto;
  #slideCarousel {
    .carousel-inner {
      .carousel-item {
        height: 100%;
        max-height: 900px;
      }
    }
  }
}

#features {
  background-color: white;
  z-index: 1;
  position: relative;
  text-align: center;
  padding: 7% 15%;

  .feature-box {
    padding: 4.5%;

    .icone {
      color: #0055b0;
      margin-bottom: 1rem;

      &:hover {
        cursor: pointer;
        transition: .2s;
        color: #123961;
      }
    }
  }
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #0055b0;
  color: #fff;

  #testimonials-carousel {
    .carousel-item {
      padding: 0 15%;
      color: #fff;

      .item {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;

        @media all and (max-width: 1024px) {
          display: flex;
          flex-direction: column-reverse;
          align-items: center;

          .testimonial-text, h2 {
            font-size: 1.5rem !important;
          }
        }

        .photo {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-left: 1rem;
    
          .testiomonails-img {
            width: 250px;
            height: 250px;
            border-radius: 250px;
            margin-bottom: 1rem;
          }
        }
      }

    }
  }

}

#press {
  background-color: #0055b0;
  text-align: center;
  padding-bottom: 3%;

  .press-logo {
    margin: 20px 20px 50px;
    color: #fff;

    &:hover {
      cursor: pointer;
      transition: .2s;
      color: #eee;
    }
  }
}

#pricing {
  padding: 100px;
  text-align: center;

  .pricing-cl {
    padding: 3% 2%;

    .card {
      height: 100%;

      ul {
        list-style-type: none;
        padding: 0;
      }
    }
  }
}

#cta {
  background-image: url('../../../../assets/images/city.jpg');
  background-color: #042D58;
  text-align: center;
  padding: 7% 15%;
  color: #fff;

  .mode {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    label {
      margin: 0 3rem 0 1rem;
    }
  }

  .form-date {
    display: flex !important;
    flex-direction: column !important;
    align-self: center !important;
    justify-content: center !important;
  }

  .date-row {
    display: flex;
    align-items: center;
    justify-content: center;

    .calendar-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0055b0;
      font-size: .8rem;
      padding: .7rem;
      color: #fff;
      cursor: pointer;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      &:hover {
        transition: .2s;
        background-color: #042c57;
      }
    }
  }

  h3 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
  }

  .botao {
    color: black;
    margin: 7% 0 0 0;
  }

  .botao a {
    color: black;

    &:hover {
      text-decoration: none;
    }
  }

}

#footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 7% 15%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .footer-header {
    a {
      color: #000;

      &:hover {
        color: #0055b0;
      }
    }
  }

  .footer-footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 70%;

    @media all and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      align-items: center;

      .images {

        .cadastrur {
          width: 200px !important;
        }
      }
    }

    a {
      font-weight: 700;
      color: #000;
    }

    .images {
      
      .cadastrur {
        width: 250px;
        margin-bottom: 1rem;
      }
    }
  }

  i {
    padding: 0 15px 30px;
  }
}
