<div id="fidelity">
  <app-nav active="fidelity"></app-nav>

  <div id="content">
    <div class="header">
      <div class="header-left">
        <h1>Viaje +</h1>
        <p>Informações sobre seu plano</p>
      </div>
    </div>

    <div class="fidelity--Info col-lg-12" *ngIf="user.fidelity">
      <h1>Seu plano atual:</h1>
      <p>{{ user.fidelity.name }}</p>

      <div class="level-container">
        <app-stars [starNumbers]="user?.fidelity_level || '1'"></app-stars>
      </div>

      <h1>Seu total depositado:</h1>
      <p>R$ {{ user?.currentValue || '0.00' }}</p>

      <div class="comprovante">
        <p>Enviar foto do comprovante de pagamento</p>
        <input type="file" accept="image/*" #avatarFileInput (change)="onPhotoUpload($event)" />
      </div>
    </div>

    <div class="fidelity--Info col-lg-12" *ngIf="!user.fidelity">
      <h1>Você ainda não faz parte do Viaje+</h1>
      <p>Veja as vantagens em assinar um de nossos planos:</p>

      <video width="100%" controls>
        <source src="../../../../assets/videos/videoplayback.mp4" />
      </video>
    </div>

  </div>
</div>
